:root {
    --container-width: 1200px;
    --btn-bg: #0061ff;
    --btn-size: 40px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

/* LAYOUT */

.container,
.container-full,
.container-sm {
	max-width: var(--container-width);
	margin: 0 auto;
}

.container-full {
    max-width: 100%;
}

.container-sm {
    max-width: 1000px;
}

.row {
	display: flex;
	flex-wrap: wrap;
    row-gap: 50px;
}

.row > * {
	padding: 0 25px;
}

.row.no-gutter > * {
    padding: 0px;
}

.col-100 {
	width: 100%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-66 {
    width: calc((100% / 3) * 2);
}

.col-30 {
   width: 30%; 
}

.col-70 {
    width: 70%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

/* Components */

.btn {
    color: white;
    line-height: var(--btn-size);
    background-color: var(--btn-bg);
    padding: 0px calc(var(--btn-size) / 2);
    text-align: center;
    display: inline-block;
}

.btn.btn-sm {
    line-height: 36px;
    padding: 0px calc(var(--btn-size) / 2);
}

.btn.btn-partner {
    background-color: white;
    color: black;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.fa-arrow-down {
    font-size: 42px;
    margin-top: auto;
}

.fa-check {
    color: #0E63FF;
}

/* Header */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.navbar .menu a {
    display: block;
    line-height: 34px;
    padding: 0 16px;
}

.logo {
    display: block;
}

/* Hero */

.hero {
    background-color: #B4D0E7;
    margin-bottom: 95px;
    padding-top: 60px;
}

.hero h1 {
    font-size: 80px;
}

.hero p {
    padding-right: 10px;
}

.row.main-title {
    padding-bottom: 45px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

/* Main */

.plans {
    margin-bottom: 150px;
}

.plans h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

.radio-btn {
    margin-bottom: 45px;
}

.radio-btn  span{
    margin-right: 30px;
}

.h-card {
    display: flex;
    justify-content: space-between;
}

.purchase-now::after {
    display: table;
    content: '';
    border-bottom: 2px solid #e3e3e5;
    width: 50px;
    padding-top: 35px;
}

.card > * {
    padding: 0 25px;
}

.card {
    border: 2px solid #e3e3e5;
}

.card > .plan-icon {
    border-bottom: 2px solid #e3e3e5;
    padding: 0;
}

.plan-icon {
    text-align: center;
    font-size: 14px;
    line-height: 35px;
}

.purchase-option {
    font-size: 14px;
    margin-top: 50px;
}

.plan-type {
    padding: 35px 25px;
}

.plan-price {
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
}

.plan-period {
    color: rgba(000,000,000,0.5);
    padding-top: 10px;
    font-size: 14px;
}

.card ul li {
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.purchase-button {
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-plans {
    flex-grow: 1;
}

.purchase-now {
    padding-left: 10px;
}

.purchase-now a {
    text-decoration: underline;
    color: #0356f2;
}

.plan-keypoints {
    font-size: 14px;
    margin-top: 50px;
}

.plan-keypoints h4 {
    margin-bottom: 25px;
}

.plan-keypoints ul :nth-child(5) {
    margin-bottom: 50px;
}

.h-card p,
.h-card h4 {
    font-size: 14px;
}

.h-card h4 {
    padding-bottom: 45px;
    padding-top: 20px;
}

.col-30.purchase-button{
    align-self: first baseline;
    padding-top: 35px;
}

/* Partner */

.partner h3 {
    font-size: 24px;
    margin-bottom: 15px;
    padding-top: 50px;
}

.partner p {
    margin-bottom: 30px;
}

.partner .btn.btn-partner {
    line-height: 40px;
}


/* Debug */
.debug .container,
.debug .row,
.debug .row > * {
	border: 2px solid;
}

.debug .row {
	border-color: red;
}

.debug .row > * {
	border-color: cornflowerblue;
}



/* Utilities */

.display-flex {
    display: flex;
}