:root {
    --container-width: 1200px;
    --btn-bg: #0061ff;
    --btn-size: 44px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

/* LAYOUT */

.container,
.container-full,
.container-sm {
	max-width: var(--container-width);
	margin: 0 auto;
}

.container-full {
    max-width: 100%;
}

.container-sm {
    max-width: 1000px;
}

.row {
	display: flex;
	flex-wrap: wrap;
    row-gap: 50px;
}

.row > * {
	padding: 0 25px;
}

.row.no-gutter > * {
    padding: 0px;
}

.col-100 {
	width: 100%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-66 {
    width: calc((100% / 3) * 2);
}

/* Components */

.btn {
    color: white;
    line-height: var(--btn-size);
    background-color: var(--btn-bg);
    padding: 0px calc(var(--btn-size) / 2);
    text-align: center;
}

.btn.btn-sm {
    line-height: 36px;
    padding: 0px calc(var(--btn-size) / 2);
}

.fa-arrow-down {
    font-size: 42px;
    margin-top: auto;
}

/* Header */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.navbar .menu a {
    display: block;
    line-height: 34px;
    padding: 0 16px;
}

.logo {
    display: block;
}

/* Hero */

.hero {
    background-color: #B4D0E7;
    margin-bottom: 95px;
    padding-top: 60px;
}


.hero h1 {
    font-size: 80px;
}

.row.main-title {
    padding-bottom: 45px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

/* Main */
.plans h2 {
    font-size: 40px;
}

.h-card {
    display: flex;
    justify-content: space-between;
}

/* Debug */
.card,
.debug .container,
.debug .row,
.debug .row > * {
	border: 2px solid;
}

.debug .row {
	border-color: red;
}

.debug .row > * {
	border-color: cornflowerblue;
}

