:root {
    --container-width: 1024px;
    --btn-bg: #0061ff;
    --btn-size: 35px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

/* LAYOUT */

.container,
.container-full,
.container-sm {
	max-width: var(--container-width);
	margin: 0 auto;
}

.container-full {
    max-width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.row > * {
	padding: 0 10px;
}

/* Components */

.btn {
    color: white;
    line-height: var(--btn-size);
    background-color: var(--btn-bg);
    padding: 5px calc(var(--btn-size) / 2);
}

/* Header */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
    font-size: 16px;
}

/* Debug */

.debug .container,
.debug .row,
.debug .row > * {
	border: 2px solid;
}

.debug .row {
	border-color: red;
}

.debug .row > * {
	border-color: cornflowerblue;
}